.color-orange {
    color: orange;
  }
  .form-container{
    /*width: 100%;*/
    /*max-width: 50rem;*/
  }
  .form-field{
    width: 100%;
  }
  .output-textarea{
    word-wrap: break-word;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: rgb(235,235,235);
  }
  .output-title{
    font-weight: 500;
  }
  